.arrange-game {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background: #fefefe;
}

.arrange-places {
    margin: 0 0 10px;
}

.arrange-place {
    display: inline-block;
    text-align: center;
    user-select: none;
    transition: 0.5s;
    font-size: 20px;
    height: 20px;
    vertical-align: bottom;
    margin: 0 5px; 
}

.arrange-place.changable {
    border-bottom: 1px solid #444;
    min-width: 150px;
}

.arrange-place.selecting {
    cursor: pointer;
    background: rgba(0, 255, 0, 0.4);
}

.arrange-word {
    display: inline-block;
    border: 1px solid #444;
    border-right: 0;
    padding: 10px;
    cursor: pointer;
    user-select: none;
}

.arrange-word:last-of-type {
    border-right: 1px solid #444;
}

.arrange-word.selected {
    background: #ddd;
}

.arrange-done {
    font-size: 55px;
    user-select: none;
}

.arrange-done i {
    font-size: 100px;
    margin: 0 auto;
    vertical-align: middle;
}

.arrange-wrong i {
    color: red;
}

.arrange-ok i {
    color: green;
}

.arrange-step-back {
    font-size: 20px;
    margin: 10px;
}
.button {
    background-color: #00ad00; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
}
.navnext {
    float:right;
    display: inline-block;
  }
  .navback {
    display: inline-block;
  }
  .direction {
    font-size:1.8em; 
    color: black;
    display: inline-block;
  }
.cal{
    padding: 20px;
}