.tof-game {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background: #fefefe;
}

.tof-game h2 {
    font-size: 23px;
}

.tof-game h3 {
    font-size: 20px;
}

.tof-animation-enter {
    opacity: 0.01;
}
  
.tof-animation-enter.tof-animation-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}
  
.tof-animation-leave {
    opacity: 1;
}
  
.tof-animation-leave.tof-animation-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
}

.tof-question {
    text-align: center;
}

.tof-question-buttons {
    margin: 10px 0;
}

.tof-question-buttons button {
    font-size: 20px;
    margin: 0 5px;
}

.tof-result {
    font-size: 25px;
}

.tof-result i {
    display: inline-block;
}

.tof-result button {
    display: block; 
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}
.navnext {
    float:right;
    display: inline-block;
}
.navback {
    display: inline-block;
}
.direction {
    font-size:1.7em; 
    color: black;
    display: inline-block;
}
.tof {
    padding: 20px;
}
.instruction{
    font-size:24px;
    font-weight: bold;
    color: red;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}