.spam-game h1 {
  margin: 0 0 10px;
}

.spam-game {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background: #fefefe;
  color: #222;
}

.spam-game .messages {
  width: 100%;
}

.spam-game .message {
  background: rgba(243,243,243,.85);
  padding: 5px; 
  transition: background 500ms ease-in;
  border-bottom: 1px solid grey;
 
}

.spam-game .message-sender{
    width: 15%;
    display: inline-block;
    margin: 0;
    font-weight: bold; 
}

.spam-game .message-date {
  width: 15%;
  margin: 0;
  font-weight: bold;
  text-align: right;
}

.spam-game .message-text{
  width: 50%;
  max-width: 500px;
  display: inline-block;
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
} 
.spam-game .message-title  {
  font-size: 20px;
  margin: 0;
  font-weight: bold;
  width: 15%;
  display: inline-block;
}

.spam-game .message-spam {
  background: #ff6e6e;
}

.spam-game .message-good {
  background: #bed69f;
}

.spam-game .message-button {
  display: inline-block;
  width: 50%;
  background: rgba(255,255,255,0.7);
  border: 1px solid #ddd;
  height: 30px;
  font-size: 20px;
}

.spam-game .message-date {
  float: right;
}

.animation-enter {
  opacity: 0.01;
}

.animation-enter.animation-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.animation-leave {
  opacity: 1;
}

.animation-leave.animation-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}