.spam-game h1 {
  margin: 0 0 10px;
}

.spam-game {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background: #fefefe;
}

.spam-game .messages {
  background: #fff;
  width: 100%;
}

.spam-game .message {
  background: #eee;
  padding: 5px;
  margin: 5px 0;
  transition: background 500ms ease-in;
}

.spam-game .message-sender {
  margin: 0 5px;
}

.spam-game .message-date {
  margin: 0 5px;
}

.spam-game .message-title {
  font-size: 20px;
  margin: 0;
  display: inline-block;
}

.spam-game .message-spam {
  background: #ff6e6e;
}

.spam-game .message-good {
  background: #bed69f;
}

.spam-game .message-button {
  display: inline-block;
  width: 50%;
  background: rgba(255,255,255,0.7);
  border: 1px solid #ddd;
  height: 30px;
  font-size: 20px;
}

.spam-game .message-date {
  float: right;
}

.animation-enter {
  opacity: 0.01;
}

.animation-enter.animation-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.animation-leave {
  opacity: 1;
}

.animation-leave.animation-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}