body {
    font-family: Arial, Helvetica, sans-serif;
}

.page {
    display: flex;
}

.menu {
    width: 20%;
    min-height: 100vh;
}
.drop-down-title {
    cursor: pointer;
}

.content {
    width: 80%;
    min-height: 100vh;
}