body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.page {
    display: flex;
}

.menu {
    width: 20%;
    min-height: 100vh;
}

.content {
    width: 80%;
    min-height: 100vh;
}