.home {
    background: #eee;
    margin: 0 auto;
    text-align: center;
    font-size: 20px;
    line-height: 1.5;
    padding: 10vh;
    min-height: 100vh;
}
h1 {
 
}
.bold {
    font-weight: bold;
}
.center {
    text-align: center;
}
.navnextt {
    color:black;
    text-align: center;
    display: block;
    margin: 0 auto;
}
