.home {
    background: #eee;
    margin: 0 auto;
    text-align: center;
}
h1 {
 
}
.bold {
    font-weight: bold;
}
.navnextt {

    color:black;
    text-align: center;
    display: block;
    margin: 0 auto;
}
