
.menu {
    width: 30%;
    min-height: 100vh;
    border-right: 1px solid #888;
}
.drop-down-title  {
    font-size: 30px;      
    margin-top: 10px; 
    text-decoration: none;
    color: black;
    background-color: #1bc142; 
    text-align: center;
    display: block;
    padding: 5px;
    border: 1px solid #ddd;
}
.drop-down-content a {
    cursor: pointer;
    font-size: 30px;
    text-align: center; 
    display: block;
    text-decoration: none;
    color: black;
    margin-top: 20px;
}
.drop-down-title:hover{
    
}
.drop-down-content a:hover {
    color: grey;
}

.test-enter {
    opacity: 0.01;
}
  
.test-enter.test-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}
  
.test-leave {
    opacity: 1;
}
  
.test-leave.test-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
}